.hed {
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding:12px;
  &__logo {
    flex:0 0 288px;
    background: gray;
    height: 96px;
  }
  &__nav {
    flex: 0 0 auto;
  }
  @media screen and (max-width:800px) {
  }
  @media screen and (min-width:800px) {
    &__nav {
      flex: 1 0 auto;
    }  
  }
}