  ul {
    list-style-type: disc;
  }
  li {
    margin:6px 0 6px 24px;
  }
  code {
    background:rgba(245, 245, 253, .8);
    border-radius:4px;
    padding:3px;
    font-size:17px;
    line-height: 1.6;
    font-family: monospace;
    color:rgb(48, 48, 73);
  }
  pre {
    overflow-y:scroll;
    margin:24px -11px;
    padding:12px 11px;
    font-family: monospace;
    color:rgb(48, 48, 73);
    background:rgba(245, 245, 253, .8);
    border:2px solid rgba(215, 214, 250,.4);
    border-radius:4px;
    @media screen and (min-width:1024px) {
      margin:24px -36px;
      padding:36px;
    }
  }