---
layout: _destination.pug
title: Example | This One
subHed: Module, Block, Element, (utility)
permalink: example/this-one.html
---

block content
  header.dest__hed.hed
    h1.hed__logo
      span.hed__logo--text
      svg.hed__logo--grfx

  section.dest__marq.marq
    h2.marq__hed Ante luctus eget conubia litora
    div.marq__dek
      p.marq__dek--copy Tortor tellus quis cras vitae nunc facilisis augue himenaeos, malesuada vel curabitur orci aptent torquent at felis, montes cum proin consequat sem class venenatis. Facilisis rutrum magnis est integer libero pharetra eleifend himenaeos, imperdiet tempor aenean cubilia nascetur justo vehicula morbi, tristique litora taciti diam praesent felis fermentum.
      a.marq__dek--link(href="#") Primary Action
      a.marq__dek--link(href="#") Secondary Action
    picture.marq--grfx

  ul.cards
    li.cards__item
      h3.cards__item--hed diam scelerisque
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx
    li.cards__item
      h3.cards__item--hed cubilia donec
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx
    li.cards__item
      h3.cards__item--hed libero aenean
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx
    li.cards__item
      h3.cards__item--hed curae gravida
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx
    li.cards__item
      h3.cards__item--hed torquent libero
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx
    li.cards__item
      h3.cards__item--hed magna accumsan
      p.cards__item--copy Hac accumsan interdum volutpat himenaeos malesuada quis mi, varius eget erat tempor placerat habitasse dapibus, nam mauris taciti nec ut lacinia.
      picture.cards__item--grfx